.App{
  background-color:#F4F6F7;
  margin-top: 0;
  margin-left:10%;
  margin-right: 10%;
}

.title{
  color:green;
  text-align: center;
}

.covid{
  color:red;
}

@media screen and (max-width: 780px) {
  .App{
    background-color:#F4F6F7;
    margin-top: 0;
    margin-left:2%;
    margin-right: 3%;
  }
  
}